@font-face {
    font-family: 'DisposableDroidBB';
    src: url('./fonts/DisposableDroidBB.otf');
}

@font-face {
    font-family: 'PFstardust';
    src: url('./fonts/PFStardust+1.3.ttf');
}

body {
    font-size: 13px;
    display: block;
    margin: 3.6rem 0 0;
    font-family: 'DisposableDroidBB', 'PFstardust';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

html {
    overflow-y: scroll;
    font-size: 13px;
    background-color: hsl(0, 0%, 20%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'DisposableDroidBB', 'PFstardust';
}

/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
} */
